// Colors
$default: #8d8d8d;
$title: #29282d;
$accent: #fe6475;
$accent-button: #fe3e57;
$bg: #f6f6f6;

// Fonts
%quicksand-400 {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

%btn {
  padding: 12px 26px;
  @extend %roboto-400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 10px 25px 0px rgba(254, 62, 87, 0.3);
  background-color: $accent-button;
  cursor: pointer;
}
