@use "vars";
@use "fonts";
@use "reset";
@use "libs";
@use "global";
@use "media";

.header {
  a {
    color: vars.$title;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;

    .menu {
      &__list {
        display: flex;
        gap: 35px;
      }

      &__list-link {
        border-bottom: 1px solid transparent;
        color: vars.$title;
        transition: all 0.1s;
        @extend %roboto-400;
        &:hover {
          color: vars.$accent;
          border-bottom: 1px solid vars.$accent;
          @extend %roboto-700;
        }
      }
      &__list-link--active {
        border-bottom: 1px solid vars.$accent;
        color: vars.$accent;
        @extend %roboto-700;
      }
    }
    .user-nav {
      display: flex;
      gap: 25px;
      &__link {
        position: relative;
      }
      &__link .fa-solid {
        font-size: 20px;
      }
      &__num {
        position: absolute;
        top: -7px;
        right: -10px;

        width: 17px;
        height: 17px;
        border-radius: 50%;
        font-size: 10px;
        line-height: 17px;
        text-align: center;
        color: #fff;
        background-color: vars.$accent;
      }
    }
  }
}

.main {
  .top-slider {
    &__item {
      display: flex;
      align-items: center;
    }
    &__img {
    }
  }
}

.footer {
  a {
    display: block;
    color: vars.$default;
  }
  background-color: vars.$bg;

  .footer-top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;

    &__item:first-child {
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__item:nth-of-type(2) {
      width: 170px;
    }

    &__item:nth-of-type(3) {
      width: 170px;
    }

    &__item:last-child {
      width: 470px;
    }

    &__social-list {
      display: flex;
      gap: 15px;
    }
    &__social-link .fa-brands {
      transition: all 0.5s;
    }
    &__social-link > i {
      font-size: 15px;
    }
    &__social-link > i:hover {
      font-size: 18px;
      color: vars.$accent;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    &__title {
      margin-bottom: 40px;
      @extend %roboto-400;
      font-size: 22px;
      color: vars.$title;
    }

    &__text {
      margin-bottom: 60px;
    }

    &__form {
      display: flex;
    }

    &__form-input {
      flex: 2 1 auto;
      border: none;
      margin-right: 8px;
      padding: 12px 18px;
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

      &::placeholder {
        color: vars.$default;
        font-size: 16px;
      }
    }

    &__form-btn {
      @extend %btn;
      flex: 1 1 auto;
      border: none;
    }
  }

  .footer-bottom {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 32px;
    &__item {
      @extend %quicksand-400;
      font-size: 12px;
      line-height: 34px;
    }
    &__accept {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}

.top-slider {
  padding-top: 65px;
  background-color: vars.$bg;
  background: url(../images/slider/slider-top-bg.png) no-repeat;
  background-size: cover;
  background-position: center center;

  &__container {
    max-width: 1560px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    position: relative;
  }
  &__content {
    padding-left: 175px;
  }
  &__title {
    max-width: 670px;
    margin-bottom: 35px;
    font-size: 58px;
    line-height: 68px;
    @extend %roboto-700;
    color: vars.$title;
  }
  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__link {
    @extend %btn;
    padding: 14px 36px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 29px;
    position: absolute;
    bottom: 10%;
    left: 45%;
    li {
      border: none;
      padding: 0;
      font-size: 0;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        border: none;
        padding: 0;
        font-size: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: rgb(141, 141, 141);
        cursor: pointer;
      }
    }

    .slick-active {
      width: 27px;
      height: 27px;
      border: 1px solid #fe3e57;
      border-radius: 50%;
      button {
        border: none;
        padding: 0;
        font-size: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: rgb(254, 62, 87);
      }
    }
  }
}
