@use "vars";
@use "fonts";
@use "reset";
@use "libs";
@use "global";
@use "media";

.header {
  a {
    color: vars.$title;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;

    .menu {
      &__list {
        display: flex;
        gap: 35px;
      }

      &__list-link {
        border-bottom: 1px solid transparent;
        color: vars.$title;
        transition: all 0.1s;
        @extend %roboto-400;
        &:hover {
          color: vars.$accent;
          border-bottom: 1px solid vars.$accent;
          @extend %roboto-700;
        }
      }
      &__list-link--active {
        border-bottom: 1px solid vars.$accent;
        color: vars.$accent;
        @extend %roboto-700;
      }
    }
    .user-nav {
      display: flex;
      gap: 25px;
      &__link {
        position: relative;
      }
      &__link .fa-solid {
        font-size: 20px;
      }
      &__num {
        position: absolute;
        top: -7px;
        right: -10px;

        width: 17px;
        height: 17px;
        border-radius: 50%;
        font-size: 10px;
        line-height: 17px;
        text-align: center;
        color: #fff;
        background-color: vars.$accent;
      }
    }
  }
}

.main {
  .top-slider {
    &__item {
      display: flex;
      align-items: center;
    }
  }
}

.footer {
  a {
    display: block;
    color: vars.$default;
  }
  background-color: vars.$bg;

  .footer-top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;

    &__item:first-child {
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__item:nth-of-type(2) {
      width: 170px;
    }

    &__item:nth-of-type(3) {
      width: 170px;
    }

    &__item:last-child {
      width: 470px;
    }

    &__social-list {
      display: flex;
      gap: 15px;
    }
    &__social-link .fa-brands {
      transition: all 0.5s;
    }
    &__social-link > i {
      font-size: 15px;
    }
    &__social-link > i:hover {
      font-size: 18px;
      color: vars.$accent;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    &__title {
      margin-bottom: 40px;
      @extend %roboto-400;
      font-size: 22px;
      color: vars.$title;
    }

    &__text {
      margin-bottom: 60px;
    }

    &__form {
      display: flex;
    }

    &__form-input {
      flex: 2 1 auto;
      border: none;
      margin-right: 8px;
      padding: 12px 18px;
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

      &::placeholder {
        color: vars.$default;
        font-size: 16px;
      }
    }

    &__form-btn {
      @extend %btn;
      flex: 1 1 auto;
      border: none;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 32px;
    &__item {
      @extend %quicksand-400;
      font-size: 12px;
      line-height: 34px;
    }
    &__accept {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}

// Login / Register / 404
.top {
  &__container {
    min-width: 1700px;
    padding: 120px 0 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: no-repeat center center / cover;
  }
  &__title {
    margin-bottom: 10px;
    text-align: center;
    @extend %roboto-400;
    font-size: 48px;
    line-height: 65px;
    color: vars.$title;
  }
}
.modal {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 115px 0 115px;
  }
  &__links {
    display: flex;
    gap: 60px;
    margin-bottom: 55px;
    @extend %roboto-400;
    font-size: 22px;
    text-transform: uppercase;
  }
  &__reg {
    color: vars.$default;
  }
  &__log {
    color: vars.$default;
  }
  &__log--active {
    @extend %roboto-700;
    color: vars.$accent;
  }

  &__form {
    width: 570px;
    display: inline-flex;
    flex-direction: column;
  }
  &__form-group {
    display: flex;
    flex-direction: column;
  }
  &__form-group--checkbox {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
  }
  &__input--checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &__label--checkbox {
    position: relative;
    &::before {
      border: 1px solid vars.$default;
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      left: -20px;
      top: 6px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      left: -19px;
      top: 7px;
      background: url(../images/icons/check-mark.svg) no-repeat center center /
        cover;
      transform: scale(0);
      transition: transform all 0.2s;
    }
  }
  &__input--checkbox:checked + &__label--checkbox::after {
    transform: scale(1);
  }

  &__input {
    border: none;
    height: 60px;
    margin-top: 15px;
    padding: 0 15px;
    background-color: vars.$bg;
  }

  &__form-group-first {
    margin-bottom: 40px;
  }
  &__form-group-second {
    margin-bottom: 60px;
  }
  &__form-group-second-reg {
    margin-bottom: 30px;
  }
  &__actions {
    margin-bottom: 40px;
  }
  &__notice {
    margin-bottom: 30px;
  }

  &__btn {
    height: 60px;
    margin-bottom: 20px;
    @extend %roboto-400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
    background-color: #292929;
    cursor: pointer;
  }
  &__reminder {
    color: vars.$accent;
  }
}
.page-404 {
  padding: 110px 0 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    width: 570px;
  }
  &__title {
    margin-bottom: 40px;
    text-align: start;
    color: #28384f;
  }
  &__text {
    max-width: 470px;
    margin-bottom: 60px;
  }
  &__link {
    display: inline-block;
    @extend %btn;
    border: none;
    letter-spacing: normal;
  }
}

.top-slider {
  padding-top: 65px;
  background-color: vars.$bg;
  background: url(../images/slider/slider-top-bg.png) no-repeat;
  background-size: cover;
  background-position: center center;

  &__container {
    max-width: 1560px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    position: relative;
  }
  &__content {
    padding-left: 175px;
  }
  &__title {
    max-width: 670px;
    margin-bottom: 35px;
    font-size: 58px;
    line-height: 68px;
    @extend %roboto-700;
    color: vars.$title;
  }
  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__link {
    @extend %btn;
    padding: 14px 36px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 29px;
    position: absolute;
    bottom: 10%;
    left: 45%;
    li {
      border: none;
      padding: 0;
      font-size: 0;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        border: none;
        padding: 0;
        font-size: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: rgb(141, 141, 141);
        cursor: pointer;
      }
    }

    .slick-active {
      width: 27px;
      height: 27px;
      border: 1px solid #fe3e57;
      border-radius: 50%;
      button {
        border: none;
        padding: 0;
        font-size: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: rgb(254, 62, 87);
      }
    }
  }
}

.categories-info {
  padding: 120px 0;
  background: url(../images/decor/categories-decor-bg-geometric-shapeLeft.png)
    no-repeat center left;

  &__inner {
    background: url(../images/decor/categories-decor-bg-geometric-shapeRight.png)
      no-repeat center right;

    .container {
      .info {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 110px;
        position: relative;
        z-index: 1;

        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
        }
        &::before {
          background: url(../images/decor/categories-decor-bg-cirlce.png)
            no-repeat center center;
          top: -45px;
          left: -60px;
          width: 120px;
          height: 121px;
        }
        &::after {
          background: url(../images/decor/categories-decor-bg-dots.png)
            no-repeat center center;
          bottom: -20px;
          right: -20px;
          width: 65px;
          height: 52px;
          z-index: -999;
        }

        &__item {
          background-color: #ffffff;
          min-width: 370px;
          padding: 60px 30px;
          box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
          transition: box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        &__item:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
          cursor: context-menu;
        }

        &__item-header {
          margin: 35px 0 10px;
          font-size: 22px;
          line-height: 26px;
          @extend %roboto-400;
          color: vars.$title;
        }
        &__item-text {
          font-size: 16px;
          line-height: 26px;
        }
      }

      .categories {
        // .title in global
        // .text in global
        &__grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-gap: 30px;
          min-height: 640px;
        }

        &__grid-item {
          padding-top: 35px;
          padding-left: 40px;
          background: no-repeat center center / cover;
          box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
          transition: box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        &__grid-item:hover {
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
          cursor: context-menu;
        }
        &__grid-item:nth-child(1) {
          grid-row: span 2;
          .categories__grid-item-subtitle,
          .categories__grid-item-link:hover {
            color: #5800e4;
          }
        }
        &__grid-item:nth-child(2) {
          grid-column: span 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-top: 0;
          .categories__grid-item-subtitle,
          .categories__grid-item-link:hover {
            color: vars.$accent-button;
          }
        }
        &__grid-item:nth-child(3) {
          .categories__grid-item-subtitle,
          .categories__grid-item-link:hover {
            color: #ffb534;
          }
        }
        &__grid-item:nth-child(4) {
          .categories__grid-item-subtitle,
          .categories__grid-item-link:hover {
            color: #34c3ff;
          }
        }

        &__grid-item-subtitle {
          margin-bottom: 5px;
          font-size: 16px;
          line-height: 26px;
        }
        &__grid-item-title {
          margin-bottom: 15px;
          @extend %roboto-400;
          font-size: 22px;
          line-height: 26px;
          color: vars.$title;
        }
        &__grid-item-link {
          text-transform: uppercase;
          @extend %roboto-400;
          font-size: 16px;
          color: #3f3c42;
          transition: all 0.3s;
        }
      }
    }
  }
}

.about-shop {
  padding: 125px 0 125px;
  background: url(../images/about-shop-bg.png) no-repeat center center / cover;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 535px;
    min-height: 480px;
    background: no-repeat top center / content;
  }
  &__content {
    max-width: 570px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  &__subtitle {
    @extend %quicksand-500;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 26px;
    color: vars.$accent-button;
  }
  &__text {
    text-align: start;
  }
  &__link {
    @extend %btn;
    padding: 12px 26px;
    text-align: center;
  }
}

.product {
  padding: 120px 0 120px;
  text-align: center;

  // .container -> global.scss
  // .title -> global.scss
  // .text -> global.scss

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
    margin-bottom: 55px;
  }

  &__link {
    border: 1px solid vars.$accent-button;
    display: inline-block;
    padding: 10px 25px;
    @extend %roboto-400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: vars.$title;
  }
}
// Card
.product-item {
  // Disable vision.
  overflow: hidden;
  max-width: 370px;
  border-radius: 8px;
  &.product-item--list {
    border: 1px solid #ececec;
    border-radius: 8px;
    min-width: 100%;
    display: flex;

    .product-item__title {
      width: 100%;
      order: -1;
      padding: 0;
      margin-bottom: 10px;
      text-align-last: left;
    }
    .product-item__price {
      order: -1;
      justify-content: start;
      margin-right: 35px;
    }
    .stars {
      margin: 0;
    }
    .product-item__text {
      margin: 10px 0 15px;
    }
    .product-item__img-box {
      border-radius: 8px;
      height: auto;
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
    .product-item__image {
      border-radius: 8px;
      max-height: none;
      min-width: 200px;
      margin: 0;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
      transition: all 0.3s ease-in-out;
    }
    .product-item__link-box {
      top: 50%;
      transform: translate(-50%, -50%);
      align-items: center;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      transition: all 0.5s;
      .product-item__link {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 0;
        padding-top: 14px;
        padding-left: 13px;
        background-color: rgba(#fff, 0.6);
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
      }
      .product-item__link > svg {
        width: 23px;
        height: 21px;
      }
      .product-item__link:nth-child(1) {
        margin-right: 14px;
      }
      .product-item__link:nth-child(2) {
        display: none;
      }
    }

    .product-item__info-box {
      display: flex;
      flex-wrap: wrap;
      padding: 30px 40px;
      text-align: left;
    }
    .product-item__content-box {
      display: block;
    }
  }
  &__img-box {
    position: relative;
    height: 370px;
    margin-bottom: 25px;
  }
  &__image {
    object-fit: cover;
  }
  &__link-box {
    // Disable vision.
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    //
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0);
    //
    padding: 10px 15px;
    border-radius: 25px;
    background-color: rgba(#fff, 0.6);
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
    transition: all 0.3s;
  }
  &__link {
    display: flex;
    align-items: baseline;
    padding: 5px 20px;
    transition: all 1s;
  }
  &__link path {
    transition: all 0.3s;
  }
  &__link:hover path {
    fill: vars.$accent-button;
  }
  &__link:nth-child(1) {
    border-right: 1px solid #ececec;
  }
  &__link:nth-child(2) {
    border-right: 1px solid #ececec;
  }
  .stars {
    margin: 0 auto;
  }
  &__title {
    padding: 18px 0 18px;
    @extend %roboto-400;
    font-size: 22px;
    color: vars.$title;
    text-align: center;
  }
  &__price {
    display: flex;
    justify-content: center;
    @extend %roboto-400;
  }
  &__new-price {
    margin-right: 25px;
    color: vars.$title;
  }
  &__old-price {
    text-decoration: line-through;
  }
  &__content-box {
    display: none;
  }
  &__btn {
    border: none;
    color: #fff;
    padding: 10px 41px;
    @extend %roboto-400;
    background-color: vars.$title;
  }

  &__btn:hover {
    border: none;
    color: #fff;
    padding: 10px 41px;
    @extend %roboto-400;
    background-color: vars.$accent-button;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    cursor: pointer;
  }
  &--sale {
    .product-item__img-box::before {
      content: "SALE";
      position: absolute;
      left: 25px;
      top: 25px;
      @extend %btn;
      padding: 1px 8px;
      line-height: 1.625;
      letter-spacing: 0.09em;
    }
  }
}
.product-item:hover {
  cursor: pointer;
  .product-item__link-box {
    // Enable Vision.
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.promo {
  // margin-bottom: 150px;
  padding: 155px 0 160px;
  text-align: center;
  background: url(../images/promo-bg.png) no-repeat left center / contain;
  background-color: vars.$bg;

  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }

  .countdown {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
    &__item {
      width: 120px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
    }
    .clock {
      @extend %roboto-700;
      font-size: 48px;
      line-height: 48px;
      color: vars.$title;
    }
  }

  &__subtitle {
    @extend %subtitle;
    margin-bottom: 25px;
  }
  // .title -> globals.scss

  &__link {
    @extend %link;
  }
}

.partners {
  padding-top: 75px;
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    height: 170px;
  }
}

.blog {
  padding: 50px 0 160px;
  background: url(../images/blog/blog-bg-01.png) no-repeat center center;

  &__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    &::after {
      content: "";
      background: url(../images/blog/blog-bg-02.png) no-repeat center center;
      position: absolute;
      right: -25px;
      top: -32px;
      width: 126px;
      height: 53px;
      z-index: -99;
    }
  }

  &__item {
    width: 370px;
    height: auto;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    transition: all 0.5s;
  }

  &__item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
  }
  &__item-link {
    display: block;
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 35px;
    gap: 15px;
  }
  &__item-about {
    display: flex;
    justify-content: space-between;
  }
  &__item-author {
    .fa-user {
      font-size: 20px;
      margin-right: 10px;
    }
  }
  &__item-date {
    .fa-clock {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  &__item-title {
    @extend %roboto-400;
    font-size: 22px;
    line-height: 32px;
    color: vars.$title;
  }

  &__link {
    color: vars.$default;
    transition: all 0.5s;
  }
  &__link:hover {
    color: vars.$accent-button;
  }
}
// shop
.shop {
  padding: 120px 0 105px;

  &__filters {
    width: 370px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  // IN PROGRESSION
  &__content {
    margin-left: 30px;
  }
  &__content-filter {
    border: 1px solid #ebebeb;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 28px 22px;
    margin-bottom: 40px;
  }
  // buttons-shop
  &__content-filter-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__content-filter-btn {
    border: none;
    display: flex;
    padding: 0;
    cursor: pointer;
    &.shop__content-filter-btn--active {
      path {
        fill: vars.$accent-button;
      }
    }
  }
  // selects-shop
  .jq-selectbox__select {
    border: none;
    padding: 0 30px 0 0;
    color: inherit;
    font-family: inherit;
    background: transparent;
    box-shadow: none;
    &:hover {
      background: transparent;
    }
  }
  .jq-selectbox__trigger {
    border: none;
    background: none;
  }
  .jq-selectbox__trigger-arrow {
    border: none;
    width: 10px;
    height: 5px;
    background-image: url(../images/icons/angle-down.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .jq-selectbox__dropdown {
    min-width: 115px;
  }
  .jq-selectbox li {
    color: vars.$default;
  }
  .jq-selectbox li:hover {
    background-color: vars.$bg;
    color: vars.$accent;
  }
  .jq-selectbox li.selected {
    background-color: vars.$bg;
    color: vars.$accent;
  }
  &__content-filter-sort {
    border: none;
    color: vars.$default;
  }
  &__content-filter-show {
    border: none;
    color: vars.$default;
  }

  // cards-shop
  &__content-inner {
    border-bottom: 8px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 30px 50px;
    &.shop__content-inner--list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.filter {
  &__item {
    border: 1px solid #ececec;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 40px 29px;
  }
  &__title {
    margin-bottom: 25px;
    @extend %roboto-400;
    font-size: 22px;
    text-transform: uppercase;
    color: vars.$title;
    user-select: none;
  }
}
// shop filters
.filter-search {
  &__form {
    height: 50px;
    display: flex;
  }
  &__input {
    border: none;
    width: 260px;
    padding: 0 5px 0 15px;
    background-color: vars.$bg;
  }
  &__btn {
    border: none;
    width: 50px;
    position: relative;
    background-color: vars.$accent-button;
    cursor: pointer;
  }
  &__btn::after {
    position: absolute;
    width: 50px;
    height: 50px;
    content: "";
    left: 0;
    top: 0;
    background: url(../images/shop/shop-search-logo.png) no-repeat center center;
  }
}

.filter-price {
  &__output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    user-select: none;
  }

  &__btn {
    @extend %btn;
    border: none;
  }

  .irs--flat .irs-handle {
    width: 30px;
    height: 30px;
    top: 14px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
  }
  .irs-line {
    height: 5px;
    border-radius: 0;
  }
  .irs--flat .irs-handle > i:first-child {
    display: none;
  }
  .irs--flat .irs-bar {
    height: 5px;
    background-color: vars.$accent;
  }
}

.filter-color {
  &__lable {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    user-select: none;
    & + .filter-color__lable {
      padding-top: 20px;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &__input {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .filter-color__checkbox {
      background-image: url(../images/icons/check-mark.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &__box {
    position: relative;
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-left: -16px;
  }

  &__checkbox--blue {
    background-color: #00aeef;
  }
  &__checkbox--red {
    background-color: #f52574;
  }
  &__checkbox--green {
    background-color: #24d4ac;
  }
  &__checkbox--orange {
    background-color: #ff7e00;
  }
  &__checkbox--black {
    background-color: #000000;
  }
  &__checkbox--purple {
    background-color: #923899;
  }
}

.filter-size {
  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    user-select: none;
  }
  &__label:last-child {
    margin-bottom: 0;
  }
  &__box {
    position: relative;
    padding-left: 37px;
  }
  &__checkbox {
    border: 1px solid #9b9b9b;
    width: 21px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  &__input {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .filter-size__checkbox {
      border: 1px solid vars.$accent-button;
      background-image: url(../images/icons/check-mark-red.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.filter-category {
  &__label {
    display: flex;
    margin-bottom: 20px;
    line-height: 28px;
    color: vars.$title;
    background-color: vars.$bg;
    user-select: none;
  }
  &__label:last-child {
    margin-bottom: 0;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .filter-category__box {
      background-color: vars.$accent-button;
      color: #ffffff;
    }
  }
  &__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 18px;
  }
}
.filter-tags {
  &__form {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    text-transform: capitalize;
  }
  &__label {
    margin: 10px 5px;
    user-select: none;
  }
  &__box {
    border: 1px solid vars.$default;
    width: 100%;
    padding: 7px 19px;
  }
  &__input {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .filter-tags__box {
      border: 1px solid transparent;
      background-color: vars.$accent-button;
      color: #ffffff;
    }
  }
}
